body {
  max-width: 90%;
  margin: 20px auto;
}

.main {
  display: flex;
}

.chat-body {
  width: 100%;
}

.chat-field {
  padding: 15px;
  background-color: bisque;
  height: 40vh;
  overflow: scroll;
}